---
---
<footer class="site-footer">
  <p>
    <em>Closet Picks</em> &mdash; A searchable database of every Criterion Closet Pick.
  </p>
  <p>
    Built by <a href="https://westenb.org">Weston Westenborg</a>.
    Data sourced from <a href="https://letterboxd.com/closetpicks/">Letterboxd @closetpicks</a> by Jacob.
  </p>
  <div class="tmdb-attribution">
    <a href="https://www.themoviedb.org/" style="border-bottom: none;">
      <img src="/tmdb-logo.svg" alt="TMDB" class="tmdb-logo" />
    </a>
    <span>This product uses the TMDB API but is not endorsed or certified by TMDB.</span>
  </div>
</footer>
