---
---
<header class="site-header">
  <a href="/" class="site-title">Closet Picks</a>
  <nav class="site-nav">
    <a href="/guests/">Guests</a>
    <span class="nav-separator">|</span>
    <a href="/films/">Films</a>
    <span class="nav-separator">|</span>
    <a href="/most-popular/">Most Popular</a>
    <span class="nav-separator">|</span>
    <a href="/random/">Random</a>
  </nav>
</header>
